// Styling for the footer
footer {
  background-color: $gray-900;
  padding: 2rem 0 0;

  .footer-brand {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    font-size: 1.25rem;
    .fa {
      float: left;
      margin-right: 5px;
    }
  }

  .social-media-list {
    padding-left: 0;
    list-style: none;
    margin: 2rem 0;
    li {
      float: left;
      &+li {
        margin-left: 10px;
      }
    }
  }

  .footer-link {
    color: #fff;
    text-decoration: none;
    line-height: 25px;
    &:hover, 
    &:focus {
      color: $primary;
    }
  }

  @media (min-width: 768px) {

  }
  @media (min-width: 992px) {

  }
  @media (min-width: 1200px) {

  }
}
