// Styling for the sale section

#sale {
  background-color: rgba($color: $body-bg, $alpha: 0.7);
  .countdown {
    .countdown__time {
      .countdown__time__number {
        font-size: 3rem;
        font-family: $font-family-sans-serif;
        word-wrap: normal;
      }
      .countdown__time__number-separator {
        color: darken($color: $white, $amount: 10%);
        font-size: 3rem;
        font-family: $font-family-sans-serif;
        position: absolute;
        right: -5px;
        top: 0;
      }
      .countdown__time__label {
        text-transform: uppercase;
      }
    }
    .progress {
      .progress__label {
        margin-top: 32px;
        position: absolute;
        z-index: 9999999;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        &::before {
          height: 32px;
          width: 1px;
          margin-top: -40px;
          position: absolute;
          background: #fff;
          content: '';
          z-index: -1;
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .countdown {
      .countdown__time {
        .countdown__time__number-separator {
          display: none;
        }
      }
    }
  }
}