// Styling for the sale section

#sale {
  .countdown {
    .countdown__time {
      .countdown__time__number {
        font-size: 2.5rem;
        font-family: $font-family-sans-serif;
        word-wrap: normal;
      }
      .countdown__time__number-separator {
        font-size: 2.5rem;
        font-family: $font-family-sans-serif;
        position: absolute;
        right: -5px;
        top: 0;
      }
      .countdown__time__label {
        text-transform: uppercase;
      }
    }
  }
  @media (max-width: 768px) {
    .countdown {
      .countdown__time {
        .countdown__time__number-separator {
          display: none;
        }
      }
    }
  }
}