// Styling for the sale section

#sale {
  background-color: rgba($color: $body-bg, $alpha: 0.7);
  .countdown {
    .countdown__time {
      .countdown__time__number {
        font-size: 3rem;
        font-family: $font-family-sans-serif;
        word-wrap: normal;
      }
      .countdown__time__number-separator {
        color: darken($color: $white, $amount: 10%);
        font-size: 3rem;
        font-family: $font-family-sans-serif;
        position: absolute;
        right: -5px;
        top: 0;
      }
      .countdown__time__label {
        text-transform: uppercase;
      }
    }
  }
  .progress {
    background-color: #000;
    overflow: visible;
    .progress-bar {
      -webkit-box-shadow: 0px 0px 10px 3px #fff; 
      box-shadow: 0px 0px 10px 3px #fff;
    }
  }
  @media (max-width: 768px) {
    .countdown {
      .countdown__time {
        .countdown__time__number-separator {
          display: none;
        }
      }
    }
  }
}