body {
  position: relative;
  font-size: .875rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #ff6f00;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Section
 */

section {
  padding: 5rem 0;
}

article {
  padding: 4rem 0;
}

section + section {
  border-top: 1px solid #e5e5e5;
}

h2 {
  margin-bottom: 1.5rem;
}

.changelog-item h5, 
.changelog-item em {
  display: inline-block;
  margin-right: 15px;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

::-moz-selection { 
  color: #fff;
  background: #ff6f00;
}

::selection {
  color: #fff;
  background: #ff6f00;
}

pre .support.close {
  all: unset;
  color: #9B859D;
}

#section-nav ul ul {
  padding-left: 15px;
}

#section-nav ul li ul li a {
  padding: 0px 15px;
  font-weight: 400;
  color: #555;
  font-size: 12px;
}

#section-nav ul li ul li a.active {
  font-weight: 700;
}

h5 {
  display: inline-block;
}

.skew-demo {
  margin-left: 20px;
  height: 15px;
  width: 40px;
  display: inline-block;
  background: #ff6f00;
}

.skew-demo--left {
  transform: rotate(16deg) scale(1) skew(16deg) translate(0px);
  -webkit-transform: rotate(16deg) scale(1) skew(16deg) translate(0px);
  -moz-transform: rotate(16deg) scale(1) skew(16deg) translate(0px);
  -o-transform: rotate(16deg) scale(1) skew(16deg) translate(0px);
  -ms-transform: rotate(16deg) scale(1) skew(16deg) translate(0px);
}

.skew-demo--right {
  transform: rotate(164deg) scale(1) skew(-16deg) translate(0px);
  -webkit-transform: rotate(164deg) scale(1) skew(-16deg) translate(0px);
  -moz-transform: rotate(164deg) scale(1) skew(-16deg) translate(0px);
  -o-transform: rotate(164deg) scale(1) skew(-16deg) translate(0px);
  -ms-transform: rotate(164deg) scale(1) skew(-16deg) translate(0px);
}

.copy-button {
  cursor: pointer;
  background: #141414;
  color: #F8F8F8 !important;
  padding: 5px;
  margin-top: -20px;
}